{% extends "guiMineria.html" %}
{% load static %}

{% block title %} Ingenious Prediction | Arboles de Decision: {{AlgName}} {% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1 style="font-size: 2rem;">Árboles de Decisión: {{AlgName}}</h1>
  </div>
</div>

<div class="row my-4">
  <h5 style="font-size: 2rem;">DataFrame de los datos ingresados:</h5>
  <div class="table-responsive">
    <table class="table  table-striped table-bordered table-hover">
      <tr>
        <th>

        </th>
        {% for col in DfN.columns %}
          <th>
            <strong>{{col}}</strong>
          </th>
        {% endfor %}
      </tr>
        {% for index, row in DfN.iterrows %}
          <tr>
            <th>
             <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
  </div>
</div>


<div class="row my-4">
  <p style=" font-size: 2rem;"> <b>Nuevo pronostico:</b> <br>{{resultado.0}}</p>  
</div>

<div class="col py-1">
  <a class="btn btn-secondary" href="/AD/{{pk}}/{{type}}" style="padding: 0.7rem; font-size: 2rem;"> Volver a comenzar algoritmo</a>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}