{% extends "guiMineria.html" %}
{% load static %}

{% block title %} IngeniousPrediction | Arboles de Decision: {{AlgName}} {% endblock %}

{% block body %}
<div class="row mb-3">
  <div class="col-xs-12">
    <h1>Arboles de Decision: {{AlgName}}</h1>
    <h5>Datasheet ingresado:</h5>
  </div>

  <div class="table-responsive">
    <table class="table  table-striped table-bordered table-hover">
      <tr>
        <th>
          #
        </th>
        {% for col in df.columns %}
          <th>
            <strong>{{col}}</strong>
          </th>
        {% endfor %}
      </tr>
        {% for index, row in df.iterrows %}
          <tr>
            <th>
              <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
    <p> {{size.0}} rows x {{size.1}} columns</p>
  </div>
</div>

<h5>Descripción de la estructura de los datos:</h5>
<div class="row justify-content-center my-4">
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card  h-100">
      <div class="card-body">
        <h6 class="card-title">Tipos de datos:</h6>
        <ul>
          {% for columna in tipos %}  
          <li>{{columna}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card  h-100">
      <div class="card-body">
        <h6 class="card-title">Cantidad de datos nulos por variable:</h6>
        <ul>
          {% for columna in nulos %}  
          <li>{{columna}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table  table-striped table-bordered table-hover">
    <tr>
      <th>

      </th>
      {% for col in df3.columns %}
        <th>
         <strong>{{col}}</strong>
        </th>
       {% endfor %}
     </tr>
      {% for index, row in df3.iterrows %}
        <tr>
          <th>
            <strong>{{index}}</strong>
          </th>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
   </table>
</div>

<div class="row my-4">
<div class="col-sm-12">
  <h4> Seleccion de caracteristicas</h4>
</div>
<div class="col-sm-12">
  <h6>Mapa de calor de correlaciones:</h6>
  {%  autoescape off %}
  {{ mapaC }}
  {% endautoescape %}
</div>
</div>

<div class="col-sm-12 mb-3">
  <div class="card py-2">
    <div class=" card-body">
      <form  class="needs-validation" novalidate action="/ArbolDecision_2/{{pk}}/{{type}}" method="POST"> {% csrf_token %}
        <h5>Selecciona las variables predictoras: </h5>
        {% for col in ME.columns %}
        <div class="form-check form-check-inline mt-2 mb-3">
          <input class="form-check-input" type="checkbox" name="predictora" id="option:{{col}}" value={{col}}>
          <label class="form-check-label" for="option:{{col}}"><b>{{col}}</b></label><br >
        </div>
        {% endfor %}
        {% if flag %}
            <h5>De igual manera, selecciona las variable a pronosticar: </h5>
            {% for col in ME.columns %}
            <div class="form-check form-check-inline mt-2 mb-3">
              <input class="form-check-input" type="radio" name="pronostico" id="option:{{col}}2" value={{col}} required>
              <label class="form-check-label" for="option:{{col}}2"><b>{{col}}</b></label> <br>
            </div>
            {% endfor %}
        {% else %}
            <h5>De igual manera, selecciona la variable a clasificar: </h5>
            {% for col in df.columns %}
            <div class="form-check form-check-inline mt-2 mb-3">
              <input class="form-check-input"  type="radio" name="pronostico" id="option:{{col}}2" value={{col}} required>
              <label class="form-check-label"  for="option:{{col}}2"><b>{{col}}</b></label> <br>
            </div>
            {% endfor %}
        {% endif %}
        <div class="col">
          <button class="btn btn-primary" type="submit">Siguiente</button>
        </div>
      </form>
    </div>
  </div>   
</div>


{% endblock %}

{% block scripts %}
{% endblock %} 