{% extends "guiMineria.html" %}
{% load static %}

{% block title %} mineGUI | PCA-2 {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="col-sm-12">
    <h5>Seleccion de variables menos significativas</h5>
    <h6>Nuevo dataframe:</h6>
    <div class="table-responsive">
      <table class="table  table-striped table-bordered table-hover">
        <tr>
          <th>
    
          </th>
          {% for col in ndf.columns %}
            <th>
              <strong>{{col}}</strong>
            </th>
          {% endfor %}
        </tr>
          {% for index, row in ndf.iterrows %}
            <tr>
              <th>
                <strong>{{index}}</strong>
              </th>
              {% for cell in row %}
                <td>
                  {{cell}}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
      </table>
      <p> {{size.0}} rows x {{size.1}} columns</p>
    </div>
  </div>

  <div class="col py-5">
    <a class="btn btn-secondary" href="/PCA/{{pk}}"> Regresar a pasos anteriores</a>
    <a class="btn btn-success" href="/Selector/PCA"> Finalizar</a>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}