{% extends "guiMineria.html" %}
{% load static %}

{% block title %} IngeniousPrediction | SVM-2 {% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1>SVM: {{AlgName}}</h1>
  </div>
</div>

<div class="row my-4">
  <h5>DataFrame X:</h5>
  <div class="table-responsive">
    <table class="table  table-striped table-bordered table-hover">
      <tr>
        <th>
          #
        </th>
        {% for col in X.columns %}
          <th>
            <strong>{{col}}</strong>
          </th>
        {% endfor %}
      </tr>
        {% for index, row in X.iterrows %}
          <tr>
            <th>
              <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
  </div>
</div>

<div class="row my-4">

  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>DataFrame Y:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in Y.columns %}
          <th>
           <strong>{{col}}</strong>
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Y.iterrows %}
          <tr>
            <th>
              <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">
  <h5>Clasificacion generada:</h5>
    <p>{{Clas1}}</p>
  <div class="col-sm-12" style="overflow-x: auto;">
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in ClasDf1.columns %}
          <th>
           <strong>{{col}}</strong>
          </th>
         {% endfor %}
       </tr>
        {% for index, row in ClasDf1.iterrows %}
          <tr>
            <th>
              <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">
  <h5>Valor prueba vs valor pronostico:</h5>
  <div class="table-responsive">
    <table class="table  table-striped table-bordered table-hover">
      <tr>
        <th>

        </th>
        {% for col in Valores.columns %}
          <th>
           <strong>{{col}}</strong>
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Valores.iterrows %}
          <tr>
            <th>
              <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
     <h3>Exactitud promedio de la validación: {{ Score }}</h3>
  </div>
</div>

<div class="row my-4">
  <h5>Matriz de clasificacion:</h5>
  <div class="table-responsive">
    <table class="table  table-striped table-bordered table-hover">
      <tr>
        <th>

        </th>
        {% for col in MClas.columns %}
          <th>
           <strong>{{col}}</strong>
          </th>
         {% endfor %}
       </tr>
        {% for index, row in MClas.iterrows %}
          <tr>
            <th>
              <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">
  <p> <b>Criterio:</b> <br>{{criterios.0}}</p>
  <p> <b>Exactitud: </b> {{criterios.1}}</p>
  <div class="table-responsive">
    <table class="table  table-striped table-bordered table-hover">
      <tr>
        <th>

        </th>
        {% for col in ReporteClas.columns %}
          <th>
           <strong>{{col}}</strong>
          </th>
         {% endfor %}
       </tr>
        {% for index, row in ReporteClas.iterrows %}
          <tr>
            <th>
              <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell|floatformat:2 }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div> 
  
</div>

<div class="row my-4">
  <h5>Vectores de soporte:</h5>
  <div class="table-responsive">
    <table class="table  table-striped table-bordered table-hover">
      <tr>
        <th>

        </th>
        {% for col in VectSup.columns %}
          <th>
           <strong>{{col}}</strong>
          </th>
         {% endfor %}
       </tr>
        {% for index, row in VectSup.iterrows %}
          <tr>
            <th>
              <strong>{{index}}</strong>
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
  <div class="col-sm-12">
    <p>Número de vectores de soporte: {{NSup}}</p>
    <p>Vectores de soporte: <br> {{VectList}}</p>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12">
    <div class="card py-2">
      <div class=" card-body">
        <form  class="needs-validation" novalidate action="/SVM_3/{{pk}}/{{type}}" method="POST"> {% csrf_token %}
          <h5>Selecciona los valores para el nuevo pronostico: </h5>
          {% for col in Pred.columns %}
          <div class="form-check">
            <input type="number" min="0" oninput="validity.valid||(value='');" name="NClas" id="option:{{col}}" step="any" required>
            <label for="option:{{col}}"><b>{{col}}</b></label><br>
            <div class="invalid-feedback">
              <strong>Por favor brinda un valor valido</strong>
            </div>
          </div>
          {% endfor %}
          <button class="btn btn-primary" type="submit">Siguiente</button>
        </form>
      </div>
    </div>   
  </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %} 